.topbar{ width:100%; height:30px; background:#3D474A;}
.topbar .tb-wrap{ width:960px; min-width:960px; height:30px; line-height:30px; margin:0 auto; background-color:#3D474A; font-size:14px; color:#FFF;}
	.tb-wrap .tb-l{ float:left;}
	.tb-wrap .tb-r{ float:right;}
		.tb-r li{ float:left; margin-left:12px;}
		.tb-r strong{ font-weight:normal;}
		.tb-r .uinfo a{ color:#0697DA; margin-left:10px;}
		.tb-r .uinfo a:hover{ color:#FFF;}
		.tb-r .share{ height:30px; border-left:1px solid #9AA0A0;}
		.tb-r .share .shli{ display:inline-block; float:left; height:30px; border-right:1px solid #9AA0A0; padding:0 12px; _width:22px;}
		.tb-r .share div a{ display:inline-block; width:22px; height:22px; overflow:hidden; float:left; text-indent:-9999px; margin-top:4px; background:url(../images/tico.png) no-repeat;}
		.tb-r .share .wb a{ background-position:0 -65px;}
		.tb-r .share .wx{ position:relative; z-index:101;}
		.tb-r .share .wx a{ background-position:0 -32px;}
		.tb-r .share .wx div{ display:none; position:absolute; left:-39px; top:30px; padding-top:5px;}
		.tb-r .share .wx p{ display:inline-block; width:120px; height:155px; padding-top:10px; border:1px solid #DFDFDF; text-align:center; background-color:#FFF; position:relative;}
		.tb-r .share .wx span{ display:block; color:#444; line-height:20px; padding-top:5px;}
		.tb-r .share .wx cite{ display:inline-block; width:9px; height:5px; position:absolute; top:-5px; left:56px; background:url(../images/nico.png) #FFF no-repeat -1px -244px;}
		.tb-r .share .hover div{ display:block;}

.header{ width:100%; height:75px; background:url(../images/line3.png) bottom repeat-x;}
.header .hd-wrap{ width:960px; min-width:960px; height:72px; margin:0 auto;}
	.hd-wrap .logo{ display:inline-block; width:279px; height:50px; float:left; margin-top:11px; background:url(../images/al.png) right bottom no-repeat;}
	.hd-wrap .logo a{ display:inline-block; width:139px; height:50px; float:left; text-indent:-9999px; overflow:hidden; background:url(../images/logo.png) no-repeat;}
	.hd-wrap .nav{ height:72px; line-height:72px; float:right; font-size:16px;}
		.nav li{ float:left; margin-left:40px;}
		.nav li span{ display:inline-block;}
		.nav li span a:hover{ color:#0697DA;}
		.nav .on span a{ color:#0697DA;}
		.nav .n-dm{ position:relative; z-index:100;}
		.nav .n-dm span a{ padding-right:14px; background:url(../images/nico.png) no-repeat 100% 10px;}
		.nav .hover span a{ background-position:100% -50px;} 
		.nav .n-dm div{ display:none; width:110px; border:1px solid #DFDFDF; text-align:center; background-color:#FFF;}
		.nav .n-dm li{ float:none; margin:0 auto; height:30px; line-height:30px; position:relative; z-index:110;}
		.nav .n-dm li a{ display:block; font-size:14px;}
		.nav .n-dm li a:hover{ background-color:#0697DA; color:#FFF;}
		.nav .hover div{ display:block; position:absolute; top:60px; left:-13px;}
		.nav .hover div cite{ display:inline-block; width:9px; height:5px; position:absolute; top:-5px; left:47px; background:url(../images/nico.png) #FFF no-repeat -1px -244px;}

.banner{ margin-bottom:35px;}
	.fullSlide{ width:100%; min-width:960px; position:relative; height:356px; background:#000;}
	.fullSlide .bd{ margin:0 auto; position:relative; z-index:0; overflow:hidden;}
	.fullSlide .bd ul{ width:100% !important;}
	.fullSlide .bd li{ width:100% !important; height:356px; overflow:hidden; text-align:center;}
	.fullSlide .bd li a{ display:block; height:356px;}
	.fullSlide .hd{ width:100%; position:absolute; z-index:1; bottom:0; left:0; height:18px; line-height:18px;}
	.fullSlide .hd ul{ text-align:center;}
	.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:30px; height:6px; margin:0 6px; overflow:hidden; background:#000; filter:alpha(opacity=50); opacity:0.5; line-height:999px;}
	.fullSlide .hd ul .on{ background:#f00;}
	.fullSlide .prev,.fullSlide .next{ display:block; position:absolute; z-index:1; top:50%; margin-top:-30px; left:15%; z-index:1; width:40px; height:60px; background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat; cursor:pointer; filter:alpha(opacity=50); opacity:0.5; display:none;}
	.fullSlide .next{ left:auto; right:15%; background-position:-6px -137px;}

.main{ width:960px; margin:0 auto; text-align:left;}
.main .notice{ margin-bottom:35px; background:url(../images/line1.png) bottom repeat-x;}
	.notice .tit{ height:47px; line-height:47px; padding:0 10px; font-size:14px; background:url(../images/line1.png) top repeat-x;}
	.notice .tit strong{ float:left; display:inline-block; width:700px; font-weight:normal; cursor:pointer;}
	.notice .tit strong:hover{ color:#0697DA;}
	.notice .tit .on{ color:#0697DA;}
	.notice .tit span{ float:right; margin-right:45px;}
	.notice .tit a{ float:right; display:inline-block; width:88px; height:25px; line-height:25px; text-align:center; border:1px solid #DFDFDF; margin-top:9px; border-radius:13px; behavior:url(css/pie.htc);}
	.notice .tit a:hover{ color:#0697DA; border:1px solid #0697DA;}
	.notice .con{ display:none; padding:0 10px; line-height:24px; padding-bottom:10px;}

	.hcm .tit{ height:31px; border-bottom:1px solid #DFDFDF; padding:0 10px; margin-bottom:30px;}
	.hcm .tit h3{ float:left; font-size:18px; font-weight:normal;}
	.hcm .tit em{ float:right; display:inline-block; width:105px; height:25px;}
	.hcm .tit em a{ display:inline-block; width:105px; height:25px; line-height:25px; font-style:normal; text-align:center; border:1px solid #DFDFDF; border-radius:13px; behavior:url(css/pie.htc);}
	.hcm .tit em a:hover{ color:#0697DA; border:1px solid #0697DA;}

.main .contrast strong{ display:block; font-size:18px; font-weight:normal; text-align:center; margin-bottom:30px;}
	.contrast .cli .cico{ padding-left:38px;}
	.contrast .cli li{ float:left; margin-right:26px;}
	.contrast .cli .last{ margin-right:0;}
	.contrast .cli p{ display:inline-block; width:156px; text-align:center; cursor:pointer;}
	.contrast .cli p em{ font-style:normal; font-size:14px;}
	.contrast .cli p span{ display:inline-block; width:156px; overflow:hidden; font-size:16px;/* padding-top:140px;*/ background:url(../images/cpic.png) no-repeat -328px -244px;}
	.contrast .cli p b{ font-size:20px; font-weight:normal;}
	.contrast li .cli1 span{ height:56px; padding-top:110px; background-position:0 -324px;}
	.contrast li .cli2 span{ height:81px; padding-top:125px; background-position:-164px -284px;}
	.contrast li .cli3 span{ height:106px; padding-top:140px;}
	.contrast li .cli4 span{ height:81px; padding-top:125px; background-position:-492px -284px;}
	.contrast li .cli5 span{ height:56px; padding-top:110px; background-position:-657px -324px;}	
	.contrast .cli1, .contrast .cli5{ padding-top:80px;}
	.contrast .cli2, .contrast .cli4{ padding-top:40px;}
	.contrast .selected .cli1 span{ background-position:0 -79px;}
	.contrast .selected .cli2 span{ background-position:-164px -39px;}
	.contrast .selected .cli3 span{ background-position:-328px 1px;}
	.contrast .selected .cli4 span{ background-position:-492px -39px;}
	.contrast .selected .cli5 span{ background-position:-657px -79px;}
	.contrast .cli div{ height:72px; margin:5px 38px 35px 38px; border-top:1px solid #DFDFDF; padding:10px 0; line-height:24px; text-indent:24px; position:relative;}
	.contrast .cli div span{ display:inline-block; width:10px; height:6px; overflow:hidden; float:left; text-indent:-9999px; position:absolute; top:-6px; background:url(../images/nico.png) no-repeat 0 -182px;}
	.contrast .cli .ccon1 span{ left:73px;}
	.contrast .cli .ccon2 span{ left:255px;}
	.contrast .cli .ccon3 span{ left:437px;}
	.contrast .cli .ccon4 span{ left:619px;}
	.contrast .cli .ccon5 span{ left:801px;}
	
.main .safety{ padding-left:15px; margin-bottom:35px;}
	.safety li{ width:132px; height:132px; float:left; margin-right:67px;}
	.safety .last{ margin-right:0;}
	.safety li a{ display:inline-block; width:132px; height:132px; float:left; text-indent:-9999px; overflow:hidden; background:url(../images/spic.png) no-repeat 200px 0;}
	.safety .sico1 a{ background-position:0 0;}
	.safety .sico2 a{ background-position:-145px 0;}
	.safety .sico3 a{ background-position:-291px 0;}
	.safety .sico4 a{ background-position:-436px 0;}
	.safety .sico5 a{ background-position:-582px 0;}
	.safety .sico1 a:hover{ background-position:0 -142px;}
	.safety .sico2 a:hover{ background-position:-145px -142px;;}
	.safety .sico3 a:hover{ background-position:-291px -142px;;}
	.safety .sico4 a:hover{ background-position:-436px -142px;;}
	.safety .sico5 a:hover{ background-position:-582px -142px;;}

.main .hli .tit{ margin-bottom:10px;}
	.hli .list{ margin-bottom:35px;}
	.hli .list table{ width:100%; text-align:center; font-size:14px;}
	.hli .list th{ font-weight:bold;}
	.hli .list td, .hli .list th{ height:61px; padding:0 5px; background:url(../images/line1.png) bottom repeat-x;}
	.hli .list .pn{ text-align:left; padding-left:10px;}
	.hli .list .pn a:hover{ color:#0697DA;}
	.hli .list td span{ font-size:12px;}
	.hli .list td strong{ font-size:18px; font-weight:normal; margin-right:2px;}	
	.easyPieChart{ position:relative; text-align:center;}
	.easyPieChart canvas{ position:absolute; top:0; left:0;}
	.chart div{ margin:0 auto; font-size:12px;}
	.chart div b{ font-size:16px; font-weight:normal; margin-right:2px;}
	.hli .list .oper a{ display:inline-block; width:80px; height:25px; line-height:25px; font-style:normal; text-align:center; color:#FFF; border-radius:13px; behavior:url(css/pie.htc);}
	.hli .list .oper .lb1{ background:#0697DA;}
	.hli .list .oper .lb2{ background:#CCC;}
	.hli .list .more{ height:61px; line-height:61px; text-align:center; font-size:16px; background:url(../images/line1.png) bottom repeat-x;}
	.hli .list .more a:hover{ color:#0697DA;}
	
.main .case .list{ margin-bottom:35px;}
	.case .list li{ height:217px;}
	.case .list .tr{ text-align:right; padding-top:20px; margin-top:-15px; background:url(../images/line2.png) top no-repeat;}
	.case .tl .ua, .case .tl .con{ float:left; margin-right:15px;}
	.case .tr .ua, .case .tr .con{ float:right; margin-left:15px;}
	.case .list .ua{ width:190px; text-align:center;}
	.case .list img{ width:190px; height:190px; margin-bottom:10px;}
	.case .list .con{ width:488px;}
	.case .con strong{ font-size:16px; font-weight:normal; line-height:26px;}
	.case .con div{ line-height:22px; padding-top:6px;}

.main .iad{ margin-bottom:35px;}

.footer{ width:100%; background:#3D474A; color:#FFF; text-align:left; font-size:14px;}
.footer a{ color:#FFF; margin-right:10px;}
.footer a:hover{ color:#0697DA;}
.footer .ft-wrap{ width:960px; min-width:960px; margin:0 auto;}
	.ft-wrap div{ padding:0 10px;}
	.ft-wrap .links{ height:42px; line-height:42px; border-bottom:1px solid #787F81;}
	.ft-wrap .servic{ height:42px; line-height:42px; border-bottom:1px solid #787F81;}
	.ft-wrap .servic .sl{ float:left;}
	.ft-wrap .servic .sr{ float:right;}
	.ft-wrap .copyright{ height:42px; line-height:42px; text-align:center;}
	.ft-wrap .fico{ width:458px; height:51px; margin:0 auto;}
	.ft-wrap .fico a{ display:inline-block; height:36px; float:left; text-indent:-9999px; overflow:hidden; margin:0 8px; background:url(../images/fico.png) no-repeat;}
	.ft-wrap .fico .fi1{ width:96px; background-position:0 0;}
	.ft-wrap .fico .fi2{ width:65px; background-position:-96px 0;}
	.ft-wrap .fico .fi3{ width:42px; background-position:-161px 0;}
	.ft-wrap .fico .fi4{ width:28px; background-position:-204px 0;}
	.ft-wrap .fico .fi5{ width:95px; background-position:-250px 0;}
	.ft-wrap .fico .fi6{ width:36px; background-position:-350px 0;}
	.ft-wrap .fico .fi1:hover{ width:96px; background-position:0 -50px;}
	.ft-wrap .fico .fi2:hover{ width:65px; background-position:-96px -50px;}
	.ft-wrap .fico .fi3:hover{ width:42px; background-position:-161px -50px;}
	.ft-wrap .fico .fi4:hover{ width:28px; background-position:-204px -50px;}
	.ft-wrap .fico .fi5:hover{ width:95px; background-position:-250px -50px;}
	.ft-wrap .fico .fi6:hover{ width:36px; background-position:-350px -50px;}

/* 理财列表页 */
.lcli .hli{ margin:35px 0; border:1px solid #DFDFDF; padding:20px;}
.lcli .hli .list{ margin-bottom:25px;}
.lcli .pagination{margin-bottom:10px;}

/* 分页 */
.pagination{ font-size:14px; margin-bottom:5px; text-align:center;}
.pagination a{ border:1px solid #ddd; display:inline-block;	padding:4px 8px; margin:0 4px;}
.pagination a:hover{ border:1px solid #0697DA; color:#0697DA;}
.pagination .page-cur{ color:#f60; border:none;}
.pagination .page-prev, .pagination .page-next{ border:1px solid #ddd; display:inline-block;}
.pagination .page-prev{	padding:0 8px 0 17px; background-position:5px 5px}
.pagination .page-next{	padding:0 17px 0 8px; background-position:50px -12px}
.pagination-wrap{ text-align:right;	margin: 10px 0;}	
.pagination .current{ display:inline-block; color:#0697DA; font-weight:bold; padding:4px 8px; margin:0 4px;}
.pagination .more{ display:inline-block; padding:4px 6px; margin-left:4px;}
.pagination .disable, .pagination .disable:hover{ border:1px solid #ddd; color:#CCC;}

.lccon{ font-size:14px;}
.lccon .info-basic{ margin:35px 0 20px 0; border:1px solid #DFDFDF;}
	.info-basic .tit{ height:50px; line-height:50px; padding:10px 20px; border-bottom:1px solid #DFDFDF;}
	.info-basic .tit p{ float:left;}
	.info-basic .tit strong{ font-size:22px; font-weight:normal; margin-right:5px;}
	.info-basic .tit a{ float:right; color:#0697DA;}
	
	.info-basic .ibbox{ float:left; width:570px; padding:20px 0 20px 20px; position:relative;}
	.info-basic .part-1{ padding-bottom:25px;}
	.info-basic .part-1 dl{ float:left;}
	.info-basic .part-1 dt{ margin-bottom:5px;}
	.info-basic .part-1 em{ font-size:32px; font-style:normal;}
	.info-basic .part-2{ clear:both;}
	.info-basic .part-2 li{ float:left; width:50%; height:36px; line-height:36px;}
	.info-basic .part-2 span{ margin-right:10px;}
	.info-basic .part-2 em{ font-style:normal;}
		.w220{ width:220px;}
		.w130{ width:130px;}
		.w110{ width:110px;}
		.meter span{ float:left;}
		.meter div{ float:left; width:150px; height:10px; text-align:left; vertical-align:middle; margin:13px 10px 0 0; background:#EEE; border-radius:6px; behavior:url(css/pie.htc);}
		.meter div cite{ display:inline-block; height:10px; overflow:hidden; background:#8AB46E; border-radius:6px; behavior:url(css/pie.htc);}
		.meter i{ float:left; display:inline-block; height:20px; line-height:20px; overflow:hidden; padding:0 5px; vertical-align:middle; margin-top:8px; font-style:normal; background:#8AB46E; color:#FFF; border-radius:3px; behavior:url(css/pie.htc);}

	.info-basic .ib-r{ float:right; width:300px; margin:20px 20px 20px 0; padding:20px; background-color:#F3F3F3;}
	.info-basic .ib-r ul{ width:282px; margin:0 auto;}
	.info-basic .ib-r li{ margin-bottom:20px;}
	.info-basic .ib-r2{ width:340px; background-color:#65c178; color:#FFF; padding:0; border-radius:5px;}
	.info-basic .ib-r2 ul{ width:340px;}
	.info-basic .ib-r2 li{ line-height:48px; margin-bottom:0; padding-left:30px; border-bottom:1px solid #40a552; border-top:1px solid #88d299;}
	.info-basic .ib-r2 span{ display:inline-block; width:130px;}
	.info-basic .ib-r2 em{ font-style:normal; font-size:22px;}
	.info-basic .ib-r2 .first{border-top:none;}
	.info-basic .ib-r2 .last{border-bottom:none;}
	.info-basic .stamp{ display:inline-block; position:absolute; width:134px; height:128px; top:50px; right:0; z-index:-1;}
	.info-basic .stamp .REPAYING{ display:inline-block; width:134px; height:128px; overflow:hidden; background:url(../images/REPAYING.png) no-repeat;}
	.info-basic .stamp .READY{ display:inline-block; width:134px; height:128px; overflow:hidden; background:url(../images/READY.png) no-repeat;}
	.info-basic .ib-r3{ background-color:#9AA038;}
	.info-basic .ib-r3 li{ line-height:72px; border-bottom:1px solid #838830; border-top:1px solid #A9AE56;}
	.info-basic .ra em{ font-size:32px; font-style:normal;}
	.info-basic .ft p{ display:inline-block; width:282px; height:20px; margin-bottom:5px;}
	.info-basic .ft p span{ float:left;}
	.info-basic .ft p a{ float:right; color:#0697DA;}	
	.info-basic .ft div{ width:282px; height:40px; position:relative;}
	.info-basic .ft div span{ position:absolute; top:10px; right:10px; color:#999;}
	.info-basic .ft input{ width:260px; height:40px; line-height:40px; border:1px solid #DFDFDF; padding:0 10px; font-size:14px; font-family:"微软雅黑",Arial,"宋体";}
	.info-basic .ib-r  .btn{ margin-bottom:0;}
	.info-basic .btn input{ width:282px; height:40px; line-height:40px; background:#0697DA; font-size:20px; color:#FFF; font-family:"微软雅黑",Arial,"宋体"; border:none;}

.lccon .info-detailed{ margin-bottom:35px; border:1px solid #DFDFDF; position:relative;}
	.info-detailed .tabs{ width:100%; height:34px; line-height:30px; position:absolute; top:-1px; left:0;}
	.info-detailed .tabs li{ width:135px; height:34px; float:left; border-right:1px solid #DFDFDF; text-align:center; font-size:16px;}
	.info-detailed .tabs span{ display:block; cursor:pointer; border-top:1px solid #DFDFDF; padding-top:3px;}
	.info-detailed .active{ border-bottom:1px solid #FFF;}
	.info-detailed .active span{ border-top:4px solid #37A8EB; padding-top:0;}
	.info-detailed .tab-con{ border-top:1px solid #DFDFDF; margin-top:33px; padding:20px;}
	.info-detailed .list p{ text-align:right; padding:10px 0 20px 0; color:#F00;}
	.info-detailed .list p span{ margin-left:30px; font-size:16px;}
		.tab-con table{ width:100%; text-align:center; border-left:1px solid #FFF; border-top:1px solid #FFF;}
		.tab-con table th{ background-color:#0697DA; font-size:16px; color:#FFF;}
		.tab-con table th, .tab-con table td{ height:34px; line-height:34px; padding:0 6px; border-right:1px solid #FFF; border-bottom:1px solid #FFF;}
		.tab-con table .even td{ background-color:#EEE}
		
.header .l-hd-wrap{ position:relative;}
	.l-hd-wrap .logo{ width:139px; background:none;}
	.l-hd-wrap strong{ display:inline-block; height:50px; line-height:50px; position:absolute; left:154px; top:11px; border-left:1px solid #CCC; font-size:28px; font-weight:normal; padding-left:15px;}
	.l-hd-wrap .return{ float:right; line-height:72px; font-size:16px;}
	.l-hd-wrap .return a:hover{ color:#0697DA;}

/* 登录 */
.login{ width:940px; margin:50px auto 0; text-align:left; font-size:14px; text-align:center;}
.login .lpic{ width:615px; height:410px; overflow:hidden; float:left;}
.login .lbox{ width:323px; height:408px; float:left; border:1px solid #CCC;}
.login .lbox a{ color:#0697D9;}
.login .lbox ul{ width:280px; margin:40px auto 0;}
.login .lbox li{ clear:both; margin-bottom:30px;}
.login .lbox .ft input{ width:245px; height:40px; line-height:40px; vertical-align:middle; border:1px solid #CCC; padding-left:35px; font-size:14px; font-family:"微软雅黑",Arial,"宋体"; background:url(../images/lico.jpg) #FFF no-repeat 8px 11px;}
.login .lbox .ftp input{ background-position:8px -58px;}
.login .lbox .fc input{ vertical-align:middle; margin:-1px 5px 0 0;}
.login .lbox .fc label{ float:left;}
.login .lbox .fc a{ float:right;}
.login .lbox .btn input{ width:170px; height:40px; line-height:40px; text-align:center; border:none; cursor:pointer; background-color:#0697D9; font-size:20px; font-family:"微软雅黑",Arial,"宋体"; color:#FFF;}
.login .lbox .tip{ font-size:12px; color:#F00;}

/* 注册 */
.regist{ width:900px; margin:50px auto; text-align:left; font-size:14px; border:1px solid #CCC; padding:20px;}
.regist a{ color:#0697D9;}
.regist .step{ margin:30px 0 0 68px; position:relative;}
.regist .step li{ width:100px; float:left; text-align:center; margin-right:240px; position:relative; z-index:10;}
.regist .step .last{ margin-right:0;}
.regist .step p{ display:inline-block; width:54px; height:54px; background-color:#E3E7E6; margin:0 auto 18px; border-radius:27px;}
.regist .step span{ display:inline-block; width:46px; height:46px; line-height:46px; text-align:center; background-color:#E3E7E6; color:#999; font-size:36px; font-weight:bold; margin:4px 0 0 0; border-radius:23px;}
.regist .step em{ display:block; font-style:normal;}
.regist .step .on p{ background-color:#E3E7E6;}
.regist .step .on span{ background-color:#0697DA; color:#FFF;}
.regist .step .on em{ color:#0697DA;} 
.regist .step .line{ width:720px; height:10px; overflow:hidden; background-color:#CCC; position:absolute; top:22px; left:30px;}
.regist .rl{ height:140px; line-height:140px; text-align:right; padding-right:68px;}
.regist .rbox{ padding-left:100px;}
.regist .rbox li{ clear:both; margin-bottom:30px;}
.regist .rbox span{ display:inline-block; width:85px; text-align:right; margin-right:20px;}
.regist .rbox font{ color:#F00;}
.regist .rbox .ft input{ width:260px; height:40px; line-height:40px; margin-right:10px; vertical-align:middle; border:1px solid #CCC; font-size:14px; font-family:"微软雅黑",Arial,"宋体";}
.regist .rbox .ftp input{ background-position:8px -58px;}
.regist .rbox .fc, .regist .rbox .btn{ padding-left:105px;}
.regist .rbox .fc input{ vertical-align:middle; margin:-1px 5px 0 0;}
.regist .rbox .vc input{ width:100px;}
.regist .rbox .vc em{ display:inline-block; width:150px; height:40px; overflow:hidden; margin-right:10px; vertical-align:middle;}
.regist .rbox .vc img{ width:150px; height:40px;}
.regist .rbox .btn input{ width:170px; height:40px; line-height:40px; text-align:center; border:none; cursor:pointer; background-color:#0697D9; font-size:20px; font-family:"微软雅黑",Arial,"宋体"; color:#FFF;}

/* 内页 */
.subpg{ margin:35px auto;}
.subpg .side{ float:left; width:150px; background-color:#ECECEC; font-size:14px;}
.subpg .side li a{ display:block; height:50px; line-height:50px; padding-left:25px; border-bottom:1px solid #FFF;}
.subpg .side li a:hover{ background-color:#7FD4F3; color:#FFF;}
.subpg .side .on a, .subpg .side .on a:hover{ background-color:#00A8E8; color:#FFF;}

.subpg .sp-main{ float:right; width:748px; border:1px solid #DFDFDF; padding:20px;}
	.sp-main h3{ font-size:22px; font-weight:normal; color:#00A8E8;}
	.sp-main h1{ font-size:24px; font-weight:normal; padding:20px 0;}
	.sp-main .date{ font-size:14px; margin-bottom:20px;}
	.sp-main .date a{ float:left; color:#00A8E8;}
	.sp-main .date em{ float:right; font-style:normal;}
	.sp-main .sp-txt h4{ font-size:18px; font-weight:normal; padding:20px 0;}
	.sp-main .sp-txt p{ font-size:14px; line-height:28px; margin-bottom:14px;}
	.sp-main .sp-txt img{ max-width:748px; width:expression(this.offsetWidth > 748 ? '748px': true);}
	
	.sp-main .sp-li{ padding:20px 0;}
	.sp-main .sp-li li{ height:40px; line-height:40px; font-size:14px; padding:0 10px; background:url(../images/line1.png) bottom repeat-x;}
	.sp-main .sp-li a{ float:left;}
	.sp-main .sp-li em{ float:right; font-style:normal;}
	.sp-main .sp-li span{ float:left; display:inline-block; width:10px; height:10px; overflow:hidden; border:1px solid #00A8E8; vertical-align:middle; margin:15px 10px 0 0; border-radius:5px; behavior:url(css/pie.htc);}

	.sp-main .sp-li2 li{ padding-bottom:15px; margin-bottom:10px;}
	.sp-main .sp-li2 p{ font-size:14px; padding:20px 0; line-height:22px;}
	.sp-main .sp-li2 .pic{ display:inline-block; width:224px; min-height:46px; overflow:hidden; float:left; margin-right:20px; border:1px solid #EEE; padding:2px;}
	.sp-main .sp-li2 .pic img{ max-width:224px; width:expression(this.offsetWidth > 224 ? '224px': true);}
	.sp-main .sp-li2 div{ float:left; width:498px;}
	.sp-main .sp-li2 strong{ display:block; font-size:20px; padding-bottom:5px; margin-bottom:5px; border-bottom:1px solid #00A8E8;}
	.sp-main .sp-li2 strong a{ font-weight:normal; color:#00A8E8;}
	.sp-main .sp-li2 li p{ font-size:14px; line-height:22px; padding:0; word-wrap:break-word;}

.subpg .sp-faq{ font-size:14px; margin:20px 0;}
	.sp-faq .acc-trigger{ height:50px; line-height:50px; cursor:pointer; background:url(../images/line1.png) bottom repeat-x;}
	.sp-faq .active{ background:none; color:#00A8E8;}
	.sp-faq .acc-trigger span{ display:inline-block; float:left; width:20px; height:20px; line-height:20px; vertical-align:middle; text-align:center; padding-bottom:2px; margin:15px 10px 0 0; background-color:#00A8E8; color:#FFF; border-radius:2px; behavior:url(css/pie.htc);}	
	.sp-faq .acc-container{ display:none; background:url(../images/line1.png) bottom repeat-x;}
	.sp-faq .acc-container span{ display:inline-block; float:left; width:20px; height:20px; line-height:20px; vertical-align:middle; text-align:center; padding-bottom:2px; margin:6px 10px 0 0; background-color:#8AB46E; color:#FFF; border-radius:2px; behavior:url(css/pie.htc);}	
	.sp-faq .acc-container div{ float:left; line-height:24px; font-size:13px; padding:6px 0 10px 0;}
	
.subpg .sp-from{ font-size:14px; padding:20px 0;}
	.sp-from p{ padding:25px 0; text-align:right; color:#999;}
	.sp-from li{ margin-bottom:25px;}
	.sp-from li span{ float:left; display:inline-block; width:85px; line-height:30px; text-align:right; margin-right:10px;}
	.sp-from .ft input{ float:left; width:260px; height:30px; line-height:30px; margin-right:10px; vertical-align:middle; border:1px solid #CCC; font-size:14px; font-family:"微软雅黑",Arial,"宋体"; color:#666; text-indent:10px;}
	.sp-from .ft2{ height:auto;}
	.sp-from .ft2 textarea{ float:left; width:620px; height:90px; border:1px solid #CCC; font-size:14px; font-family:"微软雅黑",Arial,"宋体"; padding:10px;}
	.sp-from font{ color:#F00;}
	.sp-from .fs a{ color:#666;}	
		.btn-select{ float:left; position:relative; display:inline-block; width:260px; height:30px; border:1px solid #CCC; font-size:14px; font-family:"微软雅黑",Arial,"宋体";}
		.btn-select .cur-select{ position:absolute; display:block; width:260px; height:30px; line-height:30px; text-align:left; background:url(../images/ico-arrow.png) no-repeat 98% center; text-indent:10px;}
		.btn-select:hover .cur-select{}
		.btn-select select{ position:absolute; top:0; left:0; width:260px; height:30px; opacity:0; filter:alpha(opacity:0; ); font:14px/20px "Microsoft YaHei";}
		.btn-select select option{ text-indent:10px;}
		.btn-select select option:hover{ background-color:#f80; color:#fff;}	
	.sp-from .btn{ padding-left:95px;}
	.sp-from .btn input{ width:170px; height:40px; line-height:40px; text-align:center; border:none; cursor:pointer; background-color:#0697D9; font-size:20px; font-family:"微软雅黑",Arial,"宋体"; color:#FFF;}
	
.ncome{ font-size:14px;}
.ncome .cn-menu{ height:50px; margin:15px 0 30px 0; position:relative; border-bottom:4px solid #DFDFDF;}
.ncome .cn-menu ul{ position:absolute; left:0; bottom:-4px;}
.ncome .cn-menu li{ float:left; padding:0 20px 10px; font-size:18px;}
.ncome .cn-menu .on{ border-bottom:4px solid #0697DA;}	
.ncome .cn-menu .on a{ color:#0697DA;}
.ncome .cn-con{ padding-bottom:30px;}
.ncome .cn-con h3{ display:inline-block; clear:both; line-height:50px; min-width:145px; padding:0 44px 0 16px; background:#1BB8E2; font-size:18px; font-weight:normal; color:#FFF;}	
.ncome .cn-con div{ line-height:220%; padding:15px 20px 25px 20px;}	
.ncome .cn-con strong{ display:inline-block; font-size:24px; font-weight:normal; padding:10px 0;}
	

/* 用户中心 */
.uc{ width:960px; margin:0 auto 20px; text-align:left; font-size:14px;}
.uc .path{ margin:20px 0;}
.uc .path strong{ font-size:16px;}
.uc .path span{ padding-left:19px; margin-left:10px; background:url(../images/uc.png) no-repeat -98px -521px;}
/*.uc .uc-nav{ width:150px; float:left; background-color:#ECECEC; padding-bottom:150px;}
.uc .uc-nav strong{ display:block; height:50px; line-height:50px; font-weight:normal; cursor:pointer; border-bottom:1px solid #F9F9F9;}
.uc .uc-nav strong a{ display:block; color:#666; padding-left:45px; background:url(../images/uc.png) no-repeat -68px 14px;}
.uc .uc-nav strong span{ padding-left:45px; display:block; background:url(../images/uc.png) no-repeat -68px 14px;}
.uc .uc-nav .active{ background-color:#00A8E8; color:#FFF;}
.uc .uc-nav .active a{ color:#FFF;}
.uc .uc-nav strong .cu-n2{ background-position:-68px -37px}
.uc .uc-nav strong .cu-n3{ background-position:-68px -88px}
.uc .uc-nav strong .cu-n4{ background-position:-68px -139px}
.uc .uc-nav strong .cu-n5{ background-position:-68px -190px}
.uc .uc-nav .active .cu-n1{ background-position:-68px -239px}
.uc .uc-nav .active .cu-n2{ background-position:-68px -290px}
.uc .uc-nav .active .cu-n3{ background-position:-68px -341px}
.uc .uc-nav .active .cu-n4{ background-position:-68px -392px}
.uc .uc-nav .active .cu-n5{ background-position:-68px -443px}
.uc .uc-nav ul{ background-color:#FFF;}
.uc .uc-nav li{ height:40px; border-bottom:1px solid #ECECEC;}
.uc .uc-nav li a{ display:block; line-height:40px; padding-left:45px;}*/
.uc .uc-nav{ width:150px; float:left; background-color:#ECECEC; padding-bottom:150px;}
.uc .uc-nav strong{ display:block; height:50px; line-height:50px; font-weight:normal; cursor:pointer; border-bottom:1px solid #F9F9F9;}
.uc .uc-nav strong a{ display:block; color:#666; padding-left:45px; background:url(../images/uc.png) no-repeat -68px 14px; _background:url(../images/uc_ie6.png) no-repeat -68px 14px;}
.uc .uc-nav strong span{ padding-left:45px; display:block; background:url(../images/uc.png) no-repeat -68px 14px; _background:url(../images/uc_ie6.png) no-repeat -68px 14px;}
.uc .uc-nav .on{ background-color:#00A8E8; color:#FFF;}
.uc .uc-nav .on strong a{ color:#FFF;}
.uc .uc-nav strong .cu-n2{ background-position:-68px -37px}
.uc .uc-nav strong .cu-n3{ background-position:-68px -88px}
.uc .uc-nav strong .cu-n4{ background-position:-68px -139px}
.uc .uc-nav strong .cu-n5{ background-position:-68px -190px}
.uc .uc-nav .on .cu-n1{ background-position:-68px -239px}
.uc .uc-nav .on .cu-n2{ background-position:-68px -290px}
.uc .uc-nav .on .cu-n3{ background-position:-68px -341px}
.uc .uc-nav .on .cu-n4{ background-position:-68px -392px}
.uc .uc-nav .on .cu-n5{ background-position:-68px -443px}
.uc .uc-nav li ul{ background-color:#FFF;}
.uc .uc-nav li li{ height:40px; border-bottom:1px solid #ECECEC;}
.uc .uc-nav li li a{ display:block; line-height:40px; padding-left:45px;}
.uc .uc-nav .mt ul{ display:none;}
.uc .uc-nav .on ul{ display:block;}
.uc .uc-nav .sc a{ border-left:5px solid #7FD4F3; color:#00A8E8; padding-left:40px;}

.uc .uc-main{ width:790px; float:right;}
.uc .uc-main a{ color:#00A8E8;}
.uc .uhbox{ margin-bottom:20px; padding:20px; border:1px solid #ECECEC;}
.uc .uhbox h3{ font-size:20px; font-weight:normal; margin-bottom:20px;}
.uc .ib .ibl{ float:left; width:500px;}
	.ib .ib-upic{ float:left; width:100px; height:100px; border:1px solid #ECECEC; text-align:center; margin-right:15px;}
	.ib .ib-upic img{ margin-top:2px;}
	.ib .ib-uinfo{ float:left; margin-top:-3px;}
	.ib .ib-uinfo li{ height:35px; line-height:35px;}
	.ib .ib-uinfo li span{ float:left; margin-right:10px;}
	.ib .ib-uinfo li div{ float:left;}
	.ib .ib-u2 em{ font-size:12px; font-style:normal; background:#B9D2A8; padding:0 20px; color:#FFF;}
	.ib .ib-u2 .sc{ background:#8AB46E;}
	.ib .ib-u3 div{ vertical-align:middle; margin-top:6px;}
	.ib .ib-u3 em{ display:inline-block;}
	.ib .ib-u3 em a{ display:inline-block; height:22px; overflow:hidden; float:left; text-indent:-9999px; margin-right:20px; background:url(../images/security-icons.png) no-repeat -3px -34px;}
	.ib .ib-u3 .ico1 a{ width:22px; background-position:-3px -34px;}
	.ib .ib-u3 .ico2 a{ width:15px; background-position:-37px -34px;}
	.ib .ib-u3 .ico3 a{ width:24px; background-position:-63px -34px;}
	.ib .ib-u3 .ico4 a{ width:19px; background-position:-96px -34px;}
	.ib .ib-u3 .ico1 .no{ width:22px; background-position:-3px -4px;}
	.ib .ib-u3 .ico2 .no{ width:15px; background-position:-37px -4px;}
	.ib .ib-u3 .ico3 .no{ width:24px; background-position:-63px -4px;}
	.ib .ib-u3 .ico4 .no{ width:19px; background-position:-96px -4px;}
.uc .ib .ibr{ float:right; width:210px; text-align:center; border-left:1px solid #ECECEC;}
	.ib .ibr div{ width:60px; text-align:center; margin:0 auto;}
	.ib .ibr em{ display:block; width:42px; height:40px; overflow:hidden; margin:10px 0 10px 9px; background:url(../images/uc.png) no-repeat;}
	.ib .ibr span{ display:inline-block; width:42px; height:20px; border-radius:21px; background-color:#EEE; color:#F00;}
.uc .mui .balances{ margin-bottom:20px;}
	.mui .balances p{ float:left;}
	.mui .balances p span{ color:#F60; margin-right:50px;}
	.mui .balances p em{ font-size:24px; color:#F60; font-style:normal; margin:0 3px;}
	.mui .balances div{ float:right;}
	.mui .balances div a{ display:inline-block; width:80px; height:30px; line-height:30px; font-size:16px; font-style:normal; text-align:center; color:#FFF; margin:0 0 0 20px; border-radius:13px; behavior:url(css/pie.htc);}
	.mui .balances div .btn-g{ background:#8AB46E;}
	.mui .balances div .btn-b{ background:#0697DA;}
.uc .ali li{ height:40px; line-height:40px; position:relative; background:url(../images/line1.png) bottom repeat-x;}
	.ali li span{ color:#F60;}
	.ali li em{ position:absolute; top:0; left:300px; font-style:normal;}
	.ali li a{ color:#0697DA;}
.uc .hotli table{ width:100%; text-align:center; font-size:14px;}
	.hotli th{ font-weight:bold;}
	.hotli td, .hotli th{ height:61px; padding:0 5px; background:url(../images/line1.png) bottom repeat-x;}
	.hotli .pn{ text-align:left; padding-left:10px;}
	.hotli .pn a:hover{ color:#0697DA;}
	.hotli td span{ font-size:12px;}
	.hotli td strong{ font-size:18px; font-weight:normal; margin-right:2px;}	
	.hotli .oper a{ display:inline-block; width:80px; height:25px; line-height:25px; font-style:normal; text-align:center; color:#FFF; border-radius:13px; behavior:url(css/pie.htc);}
	.hotli .oper .lb1{ background:#0697DA;}
	.hotli .oper .lb2{ background:#CCC;}
	

.uc .btn a{ display:inline-block; width:80px; height:25px; line-height:25px; font-style:normal; text-align:center; color:#FFF; background:#0697DA; border-radius:13px; behavior:url(css/pie.htc);}
.uc .btn input{ display:inline-block; width:80px; height:25px; line-height:25px; border:none; font-size:14px; font-family:"微软雅黑",Arial,"宋体"; cursor:pointer; font-style:normal; text-align:center; color:#FFF; background:#0697DA; border-radius:13px; behavior:url(css/pie.htc);}
.uc .uc-tr .tr-ab{ background-color:#fffbe2;}
	.uc-tr .tr-ab .tr-ab-l{ display:inline-block; float:left; width:180px;}
	.uc-tr .tr-ab h4{ font-size:20px; font-weight:normal; margin-bottom:5px; padding-top:8px;}
	.uc-tr .tr-ab p{ color:#F60;}
	.uc-tr .tr-ab strong{ font-size:26px; font-weight:normal;} 
	.uc-tr .tr-ab .tr-ab-r{ float:left; width:360px; border-left:1px solid #ECECEC; padding-left:40px;}
	.uc-tr .tr-ab li{ float:left; width:50%; padding:8px 0}
	.uc-tr .tr-ab li span{ font-size:16px;}
	.uc-tr .tr-ab .btn{ float:left; margin-left:15px;}
	.uc-tr .tr-ab .btn a{ margin:5px 0;}
	.uc-tr .tr-ab .btn .btn-g{ background:#8AB46E;}
	.uc-tr .tr-ab .btn .btn-b{ background:#0697DA;}
	
.sbox li{ float:left; margin-right:30px;}
.sbox span{ margin-right:10px; vertical-align:middle;}
.sbox .fs select{ vertical-align:middle; font-size:14px; font-family:"微软雅黑",Arial,"宋体";}
.sbox .ft input{ vertical-align:middle; height:20px; line-height:20px; border:1px solid #ECECEC; background-color:#FFF; font-size:14px; font-family:"微软雅黑",Arial,"宋体";}
.sbox em{ font-style:normal; vertical-align:middle;}
.sbox .btn input{ vertical-align:middle; margin-top:-3px;}
	
.uc .list table{ width:100%; text-align:center; border-left:1px solid #FFF; border-top:1px solid #FFF; margin-bottom:20px;}
.uc .list table th{ background-color:#0697DA; font-size:16px; color:#FFF;}
.uc .list table th, .uc .list table td{ height:34px; line-height:34px; padding:0 6px; border-right:1px solid #FFF; border-bottom:1px solid #FFF;}
.uc .list table .even td{ background-color:#EEE}
	
.uc .tr-li .sbox{ height:25px; line-height:25px; margin-bottom:20px;}
	.tr-li .list{ border-top:1px solid #ECECEC;}
	.tr-li .list p{ text-align:right; padding:15px 0;}
	.tr-li .list p a{ color:#00A8E8;}
	.tr-li .sbox ul{ float:left;}
	.tr-li .sbox a{ float:right; color:#00A8E8; vertical-align:middle;}
	.tr-li .sbox .hidden{ display:none;}
	.tr-li .sbox .time2, .tr-li .sbox .tog2{ display:none;}
	.tr-li .sbox .show, .tr-li .sbox .show{ display:block;}

.uc .uc-rech.rech-1{ width:735px; overflow:hidden;}
	.uc-rech .rech-1 dl{ width:760px; margin-bottom:20px;}
	.uc-rech .rech-1 dt{ font-size:16px; padding-bottom:5px;}
	.uc-rech .rech-1 dd{ float:left; width:165px; height:40px; line-height:40px; margin:10px 25px 10px 0;}
	.uc-rech .rech-1 dd input{ vertical-align:middle;}
	.uc-rech .rech-1 dd label{ display:inline-block; width:142px; height:40px; border:1px solid #DDD; margin-left:3px; vertical-align:middle;}
	.uc-rech .rech-1 dd img{ width:142px; height:40px;}
	.uc-rech .rech-2{ padding-left:110px;}
	.uc-rech .rech-2 li{ padding:15px 0;}
	.uc-rech .rech-2 span{ display:inline-block; width:170px; text-align:right; margin-right:10px;}
	.uc-rech .rech-2 em{ font-size:24px; font-style:normal;}
	.uc-rech .rech-2 font{ color:#F00;}
	.uc-rech .ft input{ width:180px; height:28px; line-height:28px; border:1px solid #DFDFDF; vertical-align:middle; margin-right:10px; font-size:14px; font-family:"微软雅黑",Arial,"宋体";}
	.uc-rech .rech-3{ line-height:30px; padding:20px 0; margin:0 80px;}
	.uc-rech .rech-3 ol{ list-style:decimal; padding-left:20px;}

.uc .uc-ec .rech-4{ border-bottom:1px solid #ECECEC;}
	.uc-rech .rech-4 p{ text-align:right; margin:20px 0;}
	.uc-rech .rech-4 p a{ margin:0 20px;}
	.uc-ec .rech-2{ padding-left:55px;}
	.uc-ec .rech-2 li{ position:relative;}
	.uc-ec .rech-2 li cite{ position:absolute; top:14px; left:290px; font-style:normal; color:#999;}
	.uc-ec .rech-2 .cost cite{ top:25px;}
	.banklis ul li{ border:1px solid #CCCCCC; border-radius:5px; cursor:pointer; display:inline; float:left; height:100px; margin:10px; overflow:hidden; position:relative; text-align:center; width:224px;}
	.banklis ul li img{ margin-top:15px;}
	.banklis ul li .card{ border-top:1px solid #DDDDDD; bottom:0; color:#A5A5A5; left:0; line-height:30px; position:absolute; width:100%;}
	.banklis ul li em{ display:none; background:url(../images/selected.png) no-repeat; bottom:0; height:17px; position:absolute; right:0; width:17px;}
	.banklis ul .checked{ border:2px solid #55A500; height:98px;}
	.banklis ul .checked em{ display:block;}

.uc .uc-wm .wm-h{ background-color:#FFFBE2;}
	.uc-wm .wm-hl{ width:200px; float:left; border-right:1px solid #E0E0E0;}
	.uc-wm .wm-hl h4{ font-size:22px; font-weight:normal; padding-bottom:3px;}
	.uc-wm .wm-hl p{ color:#F60; padding:3px 0;}
	.uc-wm .wm-hl p em{ font-size:18px; font-style:normal;}
	.uc-wm .wm-hl div{ font-size:12px; padding:3px 0;}
	.uc-wm .wm-hl div span{ margin-right:10px;}
	.uc-wm .wm-hl div em{ font-style:normal;}
	.uc-wm .wm-hr{ width:500px; float:left; padding-left:30px;}
	.uc-wm .wm-hr li{ float:left; width:33%;}
	.uc-wm .wm-hr li span{ display:block; font-size:16px; margin-bottom:5px;}

.uc .uc-li{ padding:0; position:relative;}
	.uc-li .tabs{ width:100%; height:34px; line-height:30px; position:absolute; top:-1px; left:0;}
	.uc-li .tabs li{ width:135px; height:34px; float:left; border-right:1px solid #DFDFDF; text-align:center; font-size:16px;}
	.uc-li .tabs span{ display:block; cursor:pointer; border-top:1px solid #DFDFDF; padding-top:3px;}
	.uc-li .active{ border-bottom:1px solid #FFF;}
	.uc-li .active span{ border-top:4px solid #37A8EB; padding-top:0;}
	.uc-li .tab-con{ border-top:1px solid #DFDFDF; margin-top:33px; padding:20px;}

.uc .uc-search{ padding:20px;}
	.uc-search .sbox{ margin-bottom:20px;}
	.uc-search .list{border-top:1px solid #ECECEC;}
	.uc-search p{ margin:20px 0;}

.uc .uc-stats .stbox{}
	.uc-stats h4{ padding:10px 20px; font-size:18px; color:#FFF; font-weight:normal; background-color:#7FD4F3;}
	.uc-stats h4 em{ font-style:normal; margin:0 5px;}
	.uc-stats .st-con{ padding:20px 0;}
	.uc-stats .st-con .st-con-l{ width:325px; float:left; padding-top:45px;}
	.uc-stats .st-con-l table{ width:100%; text-align:center;}
	.uc-stats .st-con-l td{ padding:8px 10px;}
	.uc-stats .st-con-l th{ padding:8px 10px; background-color:#E8F6FA;}
	.uc-stats .st-con-l .ul{ border-bottom:1px solid #DDD;}
	.uc-stats .st-con .st-con-r{ width:415px; height:300px; float:right; text-align:center;}

.uc .uc-ui{ position:relative;}
	.uc-ui .uc-ui-pic{ width:100px; text-align:center; float:left;}
	.uc-ui .uc-ui-pic span{ display:block; width:100px; height:100px; border:1px solid #ECECEC; text-align:center; margin-bottom:5px;}
	.uc-ui .uc-ui-pic img{ margin-top:2px;}
	.uc-ui .uc-ui-pic  em{ font-style:normal;}
	.uc-ui .uc-ui-li{ width:590px; float:left;}
	.uc-ui .uc-ui-li li{ clear:both; position:relative; margin-bottom:20px;}
	.uc-ui .uc-ui-li span{ display:inline-block; width:170px; text-align:right; margin-right:10px; vertical-align:middle;}
	.uc-ui .uc-ui-li font{ color:#F00; margin-right:3px; vertical-align:middle;}
	.uc-ui .uc-ui-li em{ font-style:normal; vertical-align:middle;}
	.uc-ui .uc-ui-li cite{ font-style:normal; position:absolute; top:1px; right:0; color:#999; padding-left:20px; background:url(../images/yn.png) no-repeat 0 100px;}
	.uc-ui .uc-ui-li .yes{ background-position:0 2px;}
	.uc-ui .uc-ui-li .no{ background-position:0 -42px;}
	.uc-ui .uc-ui-li .fs select{ vertical-align:middle; font-size:14px; font-family:"微软雅黑",Arial,"宋体";}
	.uc-ui .uc-ui-li .ft input{ vertical-align:middle; height:22px; line-height:22px; border:1px solid #ECECEC; background-color:#FFF; font-size:14px; font-family:"微软雅黑",Arial,"宋体";}
	.uc-ui .btn-mi{ position:absolute; top:30px; right:30px;}
	.uc-ui .btn-mi .btn-mi-2, .uc-ui .btn-mi .hidden{ display:none;}
	.uc-ui .btn-mi .show{ display:block;}

.uc .uc-ai .ai-li{ padding:10px;}
	.uc-ai .ai-li table{ width:100%;}
	.uc-ai table td{ border-bottom:1px solid #DDD; padding:8px 10px;}
	.uc-ai .ai-li .worm-tipsrz{ background-color:#FCE6BF; border:1px solid #FCDA9F; border-radius:10px; height:45px; margin:30px 0 0 0; padding:0 !important; width:735px;}
	.uc-ai .ai-li .worm-tipsrz .icon{ background:url(../images/tipsrz.png) no-repeat; display:inline-block; height:20px; margin:-1px 10px 0 20px; width:20px; vertical-align:middle;}
	.uc-ai .ai-li .worm-tipsrz .txt{ line-height:45px; vertical-align:middle;}

.uc .un-bci .banklis ul li{ height:120px;}
.uc .un-bci a{ margin: 0 30px;}


.uc .un-si .si-con{ margin:0 10px;}
	.un-si .un-si-1,
	.un-si .un-si-2,
	.un-si .acc-trigger{ height:73px; line-height:73px; border-bottom:1px solid #ECECEC; position:relative;}
	.un-si .un-si-1 cite,
	.un-si .un-si-2 cite,
	.un-si .acc-trigger cite{ display:inline-block; width:32px; height:32px; margin-right:15px; overflow:hidden; vertical-align:middle; background:url(../images/securityall.png) no-repeat 0 100px;}
	.un-si .un-si-1 cite{ background-position:0 -242px;}
	.un-si .un-si-2 cite{ background-position:0 -96px;}
	.un-si .un-si-3 cite{ background-position:0 -145px;}
	.un-si .un-si-4 cite{ background-position:0 -48px;}
	.un-si .un-si-5 cite{ background-position:0 -193px;}
	.un-si .un-si-6 cite{ background-position:0 0;}
	.un-si .un-si-1 strong,
	.un-si .un-si-2 strong,
	.un-si .acc-trigger strong{ display:inline-block; width:150px; font-size:18px; font-weight:normal; vertical-align:middle;}
	.un-si .un-si-1 em,
	.un-si .un-si-2 em,
	.un-si .acc-trigger em{ font-style:normal; position:absolute; top:5px; right:0;}
	.un-si .un-si-1 span,
	.un-si .un-si-2 span,
	.un-si .acc-trigger span{ vertical-align:middle;}

	.un-si .acc-container{ border-bottom:1px solid #ECECEC; text-align:center; padding-top:20px}
	.un-si .acc-container ul{ text-align:left; padding-left:140px;}
	.un-si .acc-container div{ margin-bottom:20px;}
	.un-si .acc-container li{ margin-bottom:20px;}
	.un-si .acc-container span{ display:inline-block; vertical-align:middle; width:120px; text-align:right; margin-right:10px;}
	.un-si .acc-container font{ color:#F00; vertical-align:middle; margin-right:3px;}
	.un-si .acc-container strong{ vertical-align:middle; font-weight:normal;}
	.un-si .acc-container .ft input{ vertical-align:middle; width:180px; height:22px; line-height:22px; border:1px solid #ECECEC; background-color:#FFF; font-size:14px; font-family:"微软雅黑",Arial,"宋体";}
	.un-si .acc-container .tip{ display:block; margin:10px 0 0 130px; color:#F00;}
	.un-si .acc-container i{ font-style:normal; margin-left:10px;}
	.un-si .acc-trigger .edit-n, .un-si .acc-trigger .hidden{ display:none;}
	.un-si .acc-trigger .show{ display:inline-block;}
	.un-si .acc-trigger .r61{ right:61px;}
	
.uc .un-pi .pi-li .acc-trigger{ height:40px; line-height:40px; padding:0 10px; background:url(../images/line1.png) bottom repeat-x;}	
	.un-pi .pi-li .acc-trigger em{ float:right; font-style:normal;}
	.un-pi .pi-li .acc-trigger span{ float:left; display:inline-block; width:10px; height:10px; overflow:hidden; border:1px solid #00A8E8; vertical-align:middle; margin:15px 10px 0 0; border-radius:5px; behavior:url(css/pie.htc);}
	.un-pi .pi-li .acc-trigger a{ float:left;}	
	.un-pi .pi-li .acc-container{ padding:5px 10px 15px 10px; line-height:24px; background:url(../images/line1.png) bottom repeat-x;}	
	.un-pi .pi-li .active{ background:none;}
	